:root {
  --headers-text: #212121;
  --main-text: #757575;
  --accent-text: #2196f3;
  --main-background: #ffffff;
  --white-header: #ffffff;
  --background-accent: #2f303a;
  --background-grey: #f5f4fa;
  --grey: rgba(255, 255, 255, 0.6);
  --border: #ececec;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text);
  background-color: var(--main-background);
  font-size: 14px;
}
/* Утилиты */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* ---------------------Секції------------------ */
.section-padding {
  padding-bottom: 200px;
  padding-top: 200px;
}

.section-bottom {
  padding-bottom: 94px;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
/*------------------------ Header------------------ */
header {
  border-bottom: 1px solid var(--border);
}
.header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--headers-text);
  letter-spacing: 0.03em;
}

.logo {
  margin-right: 93px;
  display: block;
  padding-bottom: 24px;
  padding-top: 24px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--accent-text);
}
.studio {
  color: var(--headers-text);
}
.header-contacts-svg-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts-svg-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list {
  display: flex;
  align-items: center;
}
.info {
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-mail {
  align-items: center;
}
.header-contacts-link {
  display: flex;
  align-items: center;
}
.info:hover,
.info:focus {
  color: var(--accent-text);
}
.info:hover .header-contacts-svg-mail,
.info:focus .header-contacts-svg-mail {
  fill: var(--accent-text);
}
.info:hover .header-contacts-svg-tel,
.info:focus .header-contacts-svg-tel {
  fill: var(--accent-text);
}

.header-list > li:not(:last-child) {
  margin-right: 50px;
}
.header-list > li:last-child {
  margin-right: auto;
}
.header-list .link {
  padding-bottom: 32px;
  padding-top: 32px;
  display: block;
}
.header-contacts {
  display: flex;
  align-items: center;
}
.header-contacts > li:not(:last-child) {
  margin-right: 50px;
}
.header-contacts .link {
  padding-bottom: 32px;
  padding-top: 32px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
}
.nav-link {
  color: var(--headers-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text);
}
.info {
  color: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-item {
  position: relative;
}
.active {
  color: var(--accent-text);
}
.nav-link:not(.active)::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-text);
  opacity: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
  animation: lineScale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-text);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active::after {
  animation: lineScale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes lineScale {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/* --------------------Hero------------------------------- */
.hero {
  background-color: var(--background-accent);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main-background.jpg);

  text-align: center;
  height: 600px;
  max-width: 1600px;
  background-size: cover;
  margin: 0 auto;
  background-position: center;
}
.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-header);

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-hero {
  min-width: 200px;
  padding: 10px 32px;

  text-align: center;

  color: var(--white-header);
  background: var(--accent-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}
/* ----------------------MODAL--------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 7;
  opacity: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: transparent;
}
.backdrop-button:hover .cross-svg,
.backdrop-button:focus .cross-svg {
  fill: var(--accent-text);
}
.cross-svg {
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  display: flex;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: black;
}
.form {
  /* width: 448;
  height: 478px; */
}
.form-header {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: #212121;
}
.form-field {
  position: relative;
}
.modal-field {
  position: relative;
  margin-bottom: 10px;
}
.modal-field-big {
  margin-bottom: 20px;
}
.modal-label {
  display: block;

  margin-bottom: 4px;
}
.modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin: 0;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--accent-text);
  outline: none;
}
.modal-input:focus ~ .modal-icon,
.modal-input:hover ~ .modal-icon {
  fill: var(--accent-text);
}
.modal-icon {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon-1 {
  width: 13px;
  height: 13px;
}
.modal-icon-2 {
  width: 15px;
  height: 12px;
}
.modal-icon-3 {
  width: 12px;
  height: 12px;
}
.area-comments {
  display: block;
  margin-bottom: 4px;
}
.comments-input {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px 12px 16px;
}
.comments-input::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comments-input:hover,
.comments-input:focus {
  border: 1px solid var(--accent-text);
  outline: none;
}

.policy-checkbox {
  margin-right: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.policy-checkbox:checked + .policy-icon {
  background-image: url(../images/check.svg);
  background-color: var(--accent-text);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-text);
  background-position: center;
}

.policy-icon {
  background-position: center;
  display: block;
  text-align: center;
  width: 16px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 4px;
  margin-right: 8px;
}

.policy-checkbox:focus + .policy-icon {
  border: 2px solid var(--accent-text);
}
.policy-label {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-align: center;

  padding: 0;

  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}
.policy-label-accent {
  margin-left: 4px;
  text-decoration-line: underline;
  color: var(--accent-text);
}
.modal-button {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 50px;
  background-color: var(--accent-text);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
/* -----------------------Features---------------------------*/
.features-header {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--headers-text);
  letter-spacing: 0.03em;
  font-size: 14px;
}
.features-text {
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.features-list {
  display: flex;
}
.features-item {
  width: calc((100%-3 * 30px) / 4);
  margin-right: 30px;
}
.features-photo {
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-svg {
  display: block;
  height: 120px;
  width: 70px;
  height: 70px;
}
/* .features-item::before {
  content: "";
  display: block;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features-item:nth-child(1)::before {
  background-image: url(../images/antenna\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.features-item:nth-child(2)::before {
  background-image: url(../images/clock\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.features-item:nth-child(3)::before {
  background-image: url(../images/diagram\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.features-item:nth-child(4)::before {
  background-image: url(../images/astronaut\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
} */
.features-item:last-child {
  margin-right: 0;
}

/* ------------------------Occupation---------------------- */
.occupation-header {
  margin-bottom: 50px;
}
.occupation-list {
  display: flex;
  flex-wrap: wrap;
}

.occupation-item:not(:last-child) {
  margin-right: 30px;
}
.occupation-item {
  position: relative;
}

.occupation-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  height: 70px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
/* --------------------Team-------------------- */
.comand-header {
  margin-bottom: 50px;
}
.team {
  background-color: var(--background-grey);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--headers-text);
  letter-spacing: 0.03em;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text);
  margin-bottom: 16px;
}
.team-content {
  padding: 30px;
}

.team-icon {
  width: 270px;
  /* padding-bottom: 30px; */
  text-align: center;
  background-color: var(--main-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-icon:not(:last-child) {
  margin-right: 30px;
}
.team-icon > img {
  display: block;
  max-width: 100%;
  width: auto;
}
.team-svg-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-svg-link:hover .team-svg {
  fill: white;
}
.team-svg-item {
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px; */
}
.team-svg-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-svg-link:hover,
.team-svg-link:focus {
  background-color: var(--accent-text);
  border-radius: 50%;
}
.team-svg-link:focus .team-svg {
  fill: white;
}
.team-svg-item {
  margin-right: 10px;
}
.team-svg-item:last-child {
  margin-right: 0px;
}

/* --------------CLIENTS-------------------- */
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  justify-content: center;
  color: var(--headers-text);
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
}

.clients-link {
  display: inline-block;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  outline: transparent;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item {
  margin-right: 30px;
  border-radius: 4px;
}
.clients-item:last-child {
  margin-right: 0px;
}
.clients-svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-svg,
.clients-link:focus .clients-svg {
  fill: var(--accent-text);
  /* border: 1px solid var(--accent-text); */
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-text);
}
.clients-item:hover,
.clients-item:focus {
  border: 1px solid var(--accent-text);
}

/* FOOTER */
footer {
  background-color: var(--background-accent);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-tag {
  font-family: inherit;
}
.logo-bottom {
  display: block;
  margin-bottom: 20px;
  padding: 0;
  margin-right: 0;
}
.footer-link {
  font-weight: 400;
  line-height: 1.7;
  color: inherit;
  font-family: "Roboto";
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--grey);
}
.footer-link {
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0px;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-text);
}
.address {
  color: var(--white-header);
}
.studio-bottom {
  color: var(--white-header);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-join {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-header);
  margin-bottom: 20px;
  align-items: center;
  vertical-align: middle;
}
.footer-photo-list {
  display: flex;
}
.footer-left {
  margin-right: 70px;
}
.footer-center {
  align-items: center;
}
.footer-svg-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.footer-svg-link:hover,
.footer-svg-link:focus {
  background-color: var(--accent-text);
  border-radius: 50%;
}
.footer-svg-link:focus .footer-svg {
  fill: white;
}
.footer-svg-item {
  margin-right: 10px;
}
.footer-svg-item:last-child {
  margin-right: 0px;
}
.footer-right {
  margin-left: auto;
}
.footer-subscribe {
  padding: 0;
  margin: 0;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-input {
  padding: 0;
  margin: 0;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 16px;
  border-radius: 4px;
  margin-right: 12px;
  color: white;
}
.footer-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input:hover,
.footer-input:focus {
  border: 1px solid var(--accent-text);
  outline: none;
}
.footer-input:hover::placeholder,
.footer-input:focus::placeholder {
  color: var(--accent-text);
}
.footer-form {
  display: flex;
}
.footer-button {
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  background-color: var(--accent-text);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.footer-button-img {
  margin-left: 10px;

  width: 24px;
  height: 24px;
}

/* PORTFOLIO HTML */

/* PORTFOLIO */
.button {
  padding: 6px 22px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  color: var(--headers-text);
  background-color: var(--main-background);
  border: none;
  background-color: var(--background-grey);
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.03em;
  font-family: inherit;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  color: var(--white-header);
  background-color: var(--accent-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.buttons > li {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-right: -30px;
  margin-bottom: -30px;
}
.portfolio-item {
  width: 370px;
  width: calc(100% / 3 -30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img {
  display: block;
  max-width: 100%;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.animation-text {
  position: absolute;
  top: 0px;
  left: 0px;

  height: 100%;
  width: 100%;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: white;

  transform: translatey(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: rgba(33, 150, 243, 0.9);
}

.portfolio-item:hover .animation-text {
  transform: translatey(0);
}
.portfolio-link:focus .animation-text {
  transform: translatey(0);
}
.portfolio-header {
  /* margin-left: 24px; */
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headers-text);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.8;
  color: var(--main-text);
  letter-spacing: 0.03em;
}
.portfolio-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
